<!-- The main footer include for each of the pages, not included directly in the boilerplate layout as it wouldn't allow proper nesting. -->
<!-- Page Footer & Copyright. -->
<footer>
    <!-- Support Links If Defined. -->
    {% if page.support.size > 0 or page.social.size > 0 %}
        <div class="container container-sm">
            <div class="footer-body" id="contact-support">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>{{ template.name | append: '.footer.need-support' | t }}</h4>

                        <!-- Main Page Nav. -->
                        <ul class="list-support-links">
                            <!-- Loop over the supplied support options. -->
                            {% for link in page.support %}
                                <!-- Provide a list item for each. -->
                                <li class="support-link-{{ link[0] }}">
                                    <!-- Conditionally append mailto: and tel: for appropriate actions. -->
                                    <a href="{% case link[0] %}{% when 'email' %}mailto:{% when 'telephone' %}tel:{% endcase %}{{ link[1] }}" target="_top">{{ link[1] }}</a>
                                </li>
                            {% endfor %}

                            <!-- Loop over the supplied social accounts. -->
                            {% for link in page.social %}
                                <!-- Output a link for each social channel. -->
                                <li class="support-link-{{ link[0] }}">
                                    <!-- Dynamicly build a link to each type. -->
                                    <a href="https://{% case link[0] %}{% when 'twitter' %}twitter.com{% when 'facebook' %}www.facebook.com{% endcase %}/{{ link[1] }}" target="_top">
                                        <!-- Use the locale switched string for each type too. -->
                                        <i class="fa fa-{{ link[0] }} fa-fw"></i>{{ 'social-links.' | append: link[0] | t }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container container-md">
        <div class="footer-footer">
            <div class="row">
                <!-- See if legal links are defined. -->
                {% if page.terms_url or page.privacy_url %}
                    <!-- Legal links, do a split-column layout. -->
                    <div class="col-xs-6 col-xs-push-6 text-right">
                        <!-- Accreditation link, we'd love it if you'd leave this in place. -->
                        <span class="copyright">{{ page.copyright }}</span>
                    </div>

                    <div class="col-xs-6 col-xs-pull-6 text-left">
                        <ul class="list-inline list-legal-links">
                            <!-- Optional legal links. -->
                            {% assign link_names = 'terms, privacy' | split: ', ' %}

                            <!-- Loop the collection of links. -->
                            {% for link_name in link_names %}
                                <!-- Set the link method name. -->
                                {% assign link_method_name = link_name | append: '_url' %}

                                <!-- See if link URL configured for page. -->
                                {% if page[link_method_name] %}
                                    <!-- Output the link, translated text. -->
                                    <li>
                                        <a href="{{ page[link_method_name] }}" target="_top">{{ 'legal-links.' | append: link_name | t }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <!-- No legal links, display powered-by alone. -->
                    <div class="col-xs-12">
                        <!-- Accreditation link, we'd love it if you'd leave this in place. -->
                        <span class="copyright">{{ page.copyright }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
