<!--
	SCHEDULE OVERVIEW

	This include details the scheduled datetime and expected
	duration of the notice.

	Variables:

	- Notice (required)
	  Preferably one of type 'planned' which contains schedule information otherwise you
	  may get strange results.
-->
<ul class="list-unstyled list-schedule-overview text-muted" id="#schedule-overview-{{ notice.id }}">
	<li class="schedule-datetime">
		<i class="fa fa-fw fa-calendar"></i> {{ 'status-page.body.schedule.for' | t }} {{ notice.begins_at }}		
	</li>
	<li class="schedule-duration">
		<i class="fa fa-fw fa-clock-o"></i> {{ 'status-page.body.schedule.expected_duration' | t }} <time datetime="{{ notice.expected_duration }}s" class="duration">{{ notice.expected_duration | distance_of_time_in_words }}</time>	
	</li>
</ul>