<!-- Output details of the notice. -->
<dt class="event event-{{ notice.timeline_state }} event-{{ notice.type }} event-{{ notice.state }}" id="notice-{{ notice.id }}"></dt>
    <dd>
        <dl>
            <!-- Has a subject, display it. -->
            <div class="notice-header">
                <h4 class="notice-subject">
                    <!-- Subject and current state. -->
                    <span class="notice-state">[{{ 'status-page.body.states.' | append: notice.state | t }}]</span> 

                    <!-- The subject for the notice. -->
                    {{ notice.subject }}
                </h4>

                <!-- Timeliness for all notices except drills. -->
                {% if notice.state != 'drill' %}
                    <!-- Include the timeliness subheading. -->
                    {% include 'notices/timeliness' %}
                {% endif %}

                <!-- Optional components for the notice. -->
                {% if notice.components != empty %}
                    <!-- This notice affected specific components, display them. -->
                    <ul class="list-affected-components">
                       {% for component in notice.components %}
                            <li><span class="label label-default">{{ component.name }}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Loop over the updates for this notice, which we want to group by date. -->
            {% for update in notice.updates  %}
                <!-- Snapshot the date by which we want to group updates. -->
                {% capture grouped_date %}{{ update.created_at | date: '%a, %-d %b %Y' }}{% endcapture %}

                <!-- See if this is the first iteration of the loop. -->
                {% if forloop.first %}
                    <!-- First iteration, as a date stamp to it. -->
                    <dt>
                        <time datetime="{{ update.created_at | date: '%F' }}">{{ grouped_date }}</time>
                    </dt>
                    <dd>
                        <dl>
                {% else %}
                    <!-- Not the first instance -->
                    {% if grouped_date != last_grouped_date %}
                        <!-- close of the previous nest. -->
                            </dl>
                        </dd>

                        <!-- End start a new nested collection. -->
                        <dt>
                            <time datetime="{{ update.created_at | date: '%F' }}">{{ grouped_date }}</time>
                        </dt>    
                        <dd>
                            <dl>
                    {% endif %}
                {% endif %}

                <!-- Output the time for the given update. -->
                <dt id="update-{{ update.id }}">
                    <time datetime="{{ update.created_at | date: '%X' }}">{{ update.created_at | date: '%X %Z' }}</time>
                </dt>
                    <!-- Output the text content of the update. -->
                    <dd>{{ update.content | simple_format }}</dd>

                <!-- Check if this is the last instance of the loop. -->
                {% if forloop.last %}
                    <!-- Close off the nested list. -->
                        </dl>

                        {% if notice.type == 'planned' %}
                            <!-- Render the schedule overview. -->
                            {% include 'notices/schedule-overview' notice: notice %}
                        {% endif %}
                    </dd>
                {% endif %}

                <!-- Set a snapshot of the previously looped group. -->
                {% capture last_grouped_date %}{{ grouped_date }}{% endcapture %}
            {% endfor %}
        </dl>
    </dd>
