<!-- Output details of the notice. -->
<dt class="event event-{{ notice.timeline_state }} event-{{ notice.type }} event-{{ notice.state }}" id="notice-{{ notice.id }}"></dt>
    <dd>
        <dl>
            <!-- Has a subject, display it. -->
            <h4 class="notice-subject">
                <!-- Subject and current state. -->
                <span class="notice-state">[{{ 'status-page.body.states.' | append: notice.state | t }}]</span> 

                <!-- The subject for the notice. -->
                {{ notice.subject }}

                <!-- Include the timeliness subheading. -->
                {% include 'notices/timeliness' %}
            </h4>

            <!-- Include timeline of updates. -->
            {% include 'notices/timeline-update' %}

            <!-- Optional components for the notice. -->
            {% if notice.components != empty %}
                <!-- This notice affected specific components, display them. -->
                <p class="text-muted affected-components">
                    <strong>Affected components:</strong> {{ notice.components | map: 'name' | join: ', ' }}
                </p>
            {% endif %}
        </dl>
    </dd>