<!-- Create a container for the template specific styles. -->
<div class="template-status-page">
    <!-- Page Header & Navbar. -->
    <header>        
        <!-- Page Navbar. -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- Brand. -->
                    {% if page.brand.logo %}
                        <div class="navbar-logo">
                            <!-- Logo. -->
                            <img src="{{ page.brand.logo.url }}" alt="logo" />
                        </div>
                    {% endif %}

                    <!-- Page Title. -->
                    <span class="navbar-brand">{{ 'status-page.navbar.title' | t }}</span> 

                    <!-- Subscription button based on the various options for the page. -->
                    {% if page.subscription_options.size == 1 %}
                        <!-- Page only has a single subscription option, display a consolidated button. -->
                        <a href="{{ page.subscription_options.first[1].url }}" class="btn btn-subscribe navbar-btn navbar-header-btn">
                            <i class="{{ page.subscription_options.first[1].icon }}"></i> 
                                <span class="visible-xs-inline">{{ 'status-page.navbar.subscribe-button.default' | t }}</span>
                                <span class="hidden-xs">{{ 'status-page.navbar.subscribe-button.default' | t }} {{ 'status-page.navbar.subscribe-button.via' | t }} {{ 'status-page.navbar.subscribe-button.' | append: page.subscription_options.first[0] | append: '.name' | t }}</span>
                        </a>
                    {% elsif page.subscription_options.size > 1 %}
                        <!-- Button group containing the dropdown. -->
                        <div class="btn-group navbar-header-btn navbar-btn">
                            <!-- Core subscription button, activates dropdown for choices. -->
                            <button class="btn btn-subscribe dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell hidden-xs"></i> {{ 'status-page.navbar.subscribe-button.default' | t }} <span class="caret"></span>
                            </button>

                            <!-- Dropdown with subscription options in it. -->
                            <ul class="dropdown-menu dropdown-menu-right">
                                <!-- Loop over the collection of subscription options. -->
                                {% for option in page.subscription_options %}
                                    <!-- Output a link for this subscription option. -->
                                    <li>
                                        <a href="{{ option[1].url }}"><i class="{{ option[1].icon }}"></i> {{ 'status-page.navbar.subscribe-button.' | append: option[0] | append: '.name' | t }} <small>{{ 'status-page.navbar.subscribe-button.' | append: option[0] | append: '.description' | t }}</small></a>
                                    </li>
                                {% endfor %}
                            </ul>                            
                        </div>
                    {% endif %}                       
                </div>
            </div>
        </nav>

        <div class="container container-md">
            <!-- Current Status Message. -->
            <section id="current-status">

                <dl class="timeline timeline-header">
                    <!-- Loop over the collection of current notices. -->
                    {% for notice in page.notices.present %}
                        <dt class="event event-{{ notice.state }} event-{{ notice.timeline_state }} event-{{ notice.type }}" id="notice-{{ notice.id }}">Notice #{{ notice.id }}</dt>
                            <dd>
                                <dl>
                                    <dt><i class="fa fa-notice-state"></i> {{ 'status-page.header.states.' | append: notice.state | t }}</dt>
                                        <dd>
                                            <!-- Has a subject, display it. -->
                                            <h3 class="notice-subject">
                                                <!-- The basic subject line. -->
                                                {{ notice.subject }}

                                                <!-- Display appropriate schedule information if we have it. -->
                                                {% if notice.type == 'planned' %}
                                                    <!-- Display the schedule/runtime. -->
                                                    <small>{{ 'status-page.header.timeliness.planned.underway' | t: ends_at: notice.expected_ended_at }}</small>
                                                {% endif %}
                                            </h3>

                                            <dl>
                                                <!-- Force sorting in reverse order for open notices. -->
                                                {% assign ordered_updates = notice.updates | sort: 'created_at' %}
                                                <!-- Loop over any updates we have for the notice -->
                                                <!-- We reverse the order so the latest update displays first as the priority. -->
                                                {% for update in ordered_updates reversed %}
                                                    <!-- Output the date for the update. -->
                                                    <dt id="update-{{ update.id }}">
                                                        <!-- Datetime, augmented to 'time_ago_in_words' by moment.js -->
                                                        <time class="ago" datetime="{{ update.created_at | date: '%FT%T%z' }}">
                                                            {{ update.created_at | date: '%FT%TZ' }}
                                                        </time>
                                                    </dt>
                                                        <!-- Output the text content of the update. -->
                                                        <dd>{% include 'notices/update-content' %}</dd>
                                                {% endfor %}
                                            </dl>
                                        </dd>
                                </dl>
                            </dd>
                    {% else %}
                        <dt class="title">&nbsp;</dt>
                            <dd>
                                <!-- No current notices found -->
                                <!-- We have nothing to be sorry about, so all is well. -->
                                <h2><i class="fa fa-check-circle-o"></i> {{ 'status-page.header.states.all-systems-are-go' | t }}</h2>
                                    <!-- Check if any support / social links exists. -->
                                    {% if page.support.size > 0 or page.social.size > 0 %}
                                        <!-- Add a reference to support links. -->
                                        <!-- Use the smart acnhor plugin to link/not-link based on visibility. -->
                                        <p>{{ 'status-page.header.disagree.question' | t }} <a data-smart-anchor="#contact-support">{{ 'status-page.header.disagree.answer' | t }}</a></p>
                                    {% endif %}
                            </dd>
                    {% endfor %}
                </dl>
            </section>
        </div>
    </header>

    <!-- Main Timeline. -->
    <main>
        <div class="container container-md">
            <!-- Timeline of previous notices. -->
            <dl class="timeline timeline-body">
                <!-- Timeline of upcomming notices. -->
                <!-- Only display if they exist. -->
                {% if page.notices.future.size > 0 %}
                    <!-- Heading for the list. -->
                    <lh>{{ 'status-page.future.heading' | t }}</lh>

                    <!-- Loop over the collection of future notices. -->
                    {% for notice in page.notices.future %}
                        <!-- Include the timeline for each notice. -->
                        {% include 'notices/timeline-notice' %}
                    {% endfor %}

                    <!-- Seperator between timeline sections. -->
                    <hr />
                {% endif %}

                <!-- Heading for the list. -->
                <lh>{{ 'status-page.body.heading' | t }}</lh>

                <!-- Loop over the collection of previous notices, order date descending. -->
                {% for notice in page.notices.past_recent %}
                    <!-- Include the timeline for each notice. -->
                    {% include 'notices/timeline-notice' %}
                {% endfor %}

                <!-- End of Timeline. -->
                <dt class="event event-final" role="presentation">Past notices</dt>
                    <dd>{{ 'status-page.body.no-more-notices' | t: days: page.timeline_threshold_in_days }}</dd>
            </dl>
        </div>
    </main>

    <!-- Include the page footer. -->
    {% include 'footer' %}
</div>