<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- Enable page refresh every 30 seconds. -->
        <meta http-equiv="refresh" content="30" />

        <!-- Favicons. -->
        <!-- App Details. -->
        <meta name="application-name" content="{{ page.name }}"/>
        <meta name="apple-mobile-web-app-title" content="{{ page.name }}" />

        <!-- Dynamicly set the title using the helper methoe. -->
        <title>{{ page.name }}</title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{{ 'html5shiv-3-7-0.min.js' | asset_url }}"></script>
            <script src="{{ 'respond-1-3-0.min.js' | asset_url }}"></script>
        <![endif]-->

        <!-- Display favicons if one is assigned. -->
        {% if page.brand.favicon %}
            <!-- Standard Favicons. -->
            <link rel="icon" type="{{ page.brand.favicon.content_type }}" href="{{ page.brand.favicon.url }}"  />
        {% endif %}

        <!-- Include CSS Assets. -->
        <link rel="stylesheet" href="{{ 'status-page.css' | asset_url }}" />

        <!-- Include CSS Assets. -->
        <link rel="stylesheet" href="{{ 'test-import.less' | asset_url }}" />
    </head>

    <!-- We attach the current status to the body, for changing page styles based on current statue. -->
    <body class="current-status {% if page.apologies.current == empty %}status-ok{% else %}state-warning{% endif %}">
        <!-- Page Header & Navbar. -->
        <header>        
            <!-- Page Navbar. -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Toggle Button For Mobile Nav. -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#status-page-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Brand. -->
                        {% if page.brand.logo %}
                            <div class="navbar-logo">
                                <!-- Logo. -->
                                <img src="{{ page.brand.logo.url }}" alt="Logo for {{ page.name }}" />
                            </div>

                            <!-- Page Title. -->
                             <a class="navbar-brand hidden-xs" href="#">Service Status</a>
                        {% else %}
                            <!-- Page Name. -->
                             <a class="navbar-brand" href="#">{{ page.name }}</a>
                        {% endif %}
                    </div>

                    <!--- Collapsable Nav On Mobile. -->
                    <div class="collapse navbar-collapse" id="status-page-navbar-collapse-1">
                        <!-- Main Status Page Nav. -->
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Primary Link One</a></li>
                            <li><a href="#">Primary Link Two</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container container-md">
                <!-- Current Status Message. -->
                <section id="current-status">

                    <dl class="timeline timeline-present">
                        <!-- Loop over the collection of current apologies. -->
                        {% for apology in page.apologies.current %}
                            <dt class="heading present" id="apology-{{ apology.id }}">
                                <span>Ongoing</span>
                            </dt>
                                <dd>
                                    <dl>
                                        <!-- Loop over any updates we have for the apology -->
                                        <!-- We reverse the order so the latest update displays first as the priority. -->
                                        {% for update in apology.updates reversed %}
                                            <!-- Output the date for the update. -->
                                            <dt id="update-{{ update.id }}">
                                                <!-- Datetime, augmented to 'time_ago_in_words' by moment.js -->
                                                <time class="ago" datetime="{{ update.created_at | date: '%FT%TZ' }}">
                                                    {{ update.created_at | date: '%FT%TZ' }}
                                                </time>
                                            </dt>
                                                <!-- Output the text content of the update. -->
                                                <dd>{{ update.content }}</dd>
                                        {% endfor %}
                                    </dl>
                                </dd>
                        {% else %}
                            <dt class="title">Current Status</dt>
                                <dd>
                                    <!-- No current apologies found -->
                                    <!-- We have nothing to be sorry about, so all is well. -->
                                    <h2>All systems are go</h2>

                                    <section class="stay-informed-nav" id="stay-informed-nav">

                                        <!-- Links to keep up to date. -->
                                        <!-- Usualy social links to Twitter etc. -->
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>
                                                <a href="#">Secondary Link One</a>
                                                <a href="#">Secondary Link Two</a>
                                                <a href="#">Secondary Link Three</a>
                                            </li>
                                        </ul>

                                    </section>
                                </dd>
                        {% endfor %}
                    </dl>

                </section>
            </div>
        </header>

        <!-- Main Timeline. -->
        <main>
            <div class="container container-md">
                <!-- Timeline of previous apologies. -->
                <dl class="timeline timeline-past">
                    <!-- Loop over the collection of previous apologies, order date descending. -->
                    {% for apology in page.apologies.recent %}
                        <!-- Start time for the apology. -->
                        <dt class="heading past" id="apology-{{ apology.id }}">{{ apology.created_at | date: '%a, %-d %b %Y' }}</dt>

                            <dd>
                                <dl>
                                    <!-- Loop over the updates, showing all, in date order. -->
                                    {% for update in apology.updates %}
                                        <dt id="update-{{ update.id }}">{{ update.created_at | date: '%X %Z' }}</dt>
                                            <!-- Output the te%D xt content of the update. -->
                                            <dd>{{ update.content }}</dd>
                                    {% endfor %}
                                </dl>
                            </dd>
                    {% endfor %}

                    <!-- End of Timeline. -->
                    <dt class="end" role="presentation">
                        <span>No further issues in the past 7 days.</span>
                    </dt>
                        <dd></dd>
                </dl>
            </div> 
        </main>

        <!-- Page Footer & Copyright. -->
        <footer>
            <div class="container container-md">
                <p class="copyright">&copy; {{ 'now' | date: '%Y' }}</p>
            </div>
        </footer>

        <!-- Javascript Assets. -->
        <script src="{{ 'status-page.min.js' | asset_url }}"></script>
    </body>
</html>