<!-- Create a container for the template specific styles. -->
<div class="template-status-page">
    <!-- Page Header & Navbar. -->
    <header>        
        <!-- Page Navbar. -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- Brand. -->
                    {% if page.brand.logo %}
                        <div class="navbar-logo">
                            <!-- Logo. -->
                            <img src="{{ page.brand.logo.url }}" alt="logo" />
                        </div>
                    {% endif %}

                    <!-- Page Title. -->
                    <span class="navbar-brand">{{ 'status-page.navbar.title' | t }}</span> 

                    <!-- Subscription button based on the various options for the page. -->
                    {% if page.subscription_options.size == 1 %}
                        <!-- Page only has a single subscription option, display a consolidated button. -->
                        <a href="{{ page.subscription_options.first[1].url }}" class="btn btn-subscribe navbar-btn navbar-header-btn">
                            <i class="{{ page.subscription_options.first[1].icon }}"></i> 
                                <span class="visible-xs-inline">{{ 'status-page.navbar.subscribe-button.default' | t }}</span>
                                <span class="hidden-xs">{{ 'status-page.navbar.subscribe-button.default' | t }} {{ 'status-page.navbar.subscribe-button.via' | t }} {{ 'status-page.navbar.subscribe-button.' | append: page.subscription_options.first[0] | append: '.name' | t }}</span>
                        </a>
                    {% elsif page.subscription_options.size > 1 %}
                        <!-- Button group containing the dropdown. -->
                        <div class="btn-group navbar-header-btn navbar-btn">
                            <!-- Core subscription button, activates dropdown for choices. -->
                            <button class="btn btn-subscribe dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell hidden-xs"></i> {{ 'status-page.navbar.subscribe-button.default' | t }} <span class="caret"></span>
                            </button>

                            <!-- Dropdown with subscription options in it. -->
                            <ul class="dropdown-menu dropdown-menu-right">
                                <!-- Loop over the collection of subscription options. -->
                                {% for option in page.subscription_options %}
                                    <!-- Output a link for this subscription option. -->
                                    <li>
                                        <a href="{{ option[1].url }}"><i class="{{ option[1].icon }}"></i> {{ 'status-page.navbar.subscribe-button.' | append: option[0] | append: '.name' | t }} <small>{{ 'status-page.navbar.subscribe-button.' | append: option[0] | append: '.description' | t }}</small></a>
                                    </li>
                                {% endfor %}
                            </ul>                            
                        </div>
                    {% endif %}                       
                </div>
            </div>
        </nav>

        <div class="container container-md">
            <!-- Current Status Message. -->
            <section id="current-status">

                <dl class="timeline timeline-header">
                    <!-- Loop over the collection of current notices. -->
                    {% for notice in page.notices.present %}
                        <dt class="event event-{{ notice.state }} event-{{ notice.timeline_state }} event-{{ notice.type }}" id="notice-{{ notice.id }}">Notice #{{ notice.id }}</dt>
                            <dd>
                                <dl>
                                    <dt><i class="fa fa-notice-state"></i> {{ 'status-page.header.states.' | append: notice.state | t }}</dt>
                                        <dd>
                                            <!-- Optional subject line for the notice. -->
                                            <!--- It's optional because we didn't used to support subjects. -->
                                            {% unless notice.subject == blank %}
                                                <!-- Has a subject, display it. -->
                                                <h3 class="notice-subject">
                                                    {{ notice.subject }}

                                                    <!-- Display appropriate schedule information if we have it. -->
                                                    {% if notice.type == 'scheduled-maintenance' %}
                                                        <!-- Display the schedule/runtime. -->
                                                        <small>{{ 'status-page.header.subheading.scheduled-maintenance' | t: ends_at: notice.expected_ended_at }}</small>
                                                    {% endif %}
                                                </h3>
                                            {% endunless %}

                                            <dl>
                                                <!-- Force sorting in reverse order for open notices. -->
                                                {% assign ordered_updates = notice.updates | sort: 'created_at' %}
                                                <!-- Loop over any updates we have for the notice -->
                                                <!-- We reverse the order so the latest update displays first as the priority. -->
                                                {% for update in ordered_updates reversed %}
                                                    <!-- Output the date for the update. -->
                                                    <dt id="update-{{ update.id }}">
                                                        <!-- Datetime, augmented to 'time_ago_in_words' by moment.js -->
                                                        <time class="ago" datetime="{{ update.created_at | date: '%FT%T%z' }}">
                                                            {{ update.created_at | date: '%FT%TZ' }}
                                                        </time>
                                                    </dt>
                                                        <!-- Output the text content of the update. -->
                                                        <dd>{{ update.content | simple_format }}</dd>
                                                {% endfor %}
                                            </dl>
                                        </dd>
                                </dl>
                            </dd>
                    {% else %}
                        <dt class="title">&nbsp;</dt>
                            <dd>
                                <!-- No current notices found -->
                                <!-- We have nothing to be sorry about, so all is well. -->
                                <h2><i class="fa fa-check-circle-o"></i> {{ 'status-page.header.states.all-systems-are-go' | t }}</h2>
                                    <!-- Check if any support / social links exists. -->
                                    {% if page.support.size > 0 or page.social.size > 0 %}
                                        <!-- Add a reference to support links. -->
                                        <!-- Use the smart acnhor plugin to link/not-link based on visibility. -->
                                        <p>{{ 'status-page.header.disagree.question' | t }} <a data-smart-anchor="#contact-support">{{ 'status-page.header.disagree.answer' | t }}</a></p>
                                    {% endif %}
                            </dd>
                    {% endfor %}
                </dl>
            </section>
        </div>
    </header>

    <!-- Main Timeline. -->
    <main>
        <div class="container container-md">
            <!-- Timeline of previous notices. -->
            <dl class="timeline timeline-body">
                <!-- Timeline of upcomming notices. -->
                <!-- Only display if they exist. -->
                {% if page.notices.future.size > 0 %}
                    <!-- Heading for the list. -->
                    <lh>{{ 'status-page.future.heading' | t }}</lh>

                    <!-- Loop over the collection of future notices. -->
                    {% for notice in page.notices.future %}
                        <!-- Output details of the notice. -->
                        <dt class="event event-{{ notice.timeline_state }} event-{{ notice.type }} event-{{ notice.state }}" id="notice-{{ notice.id }}"></dt>
                            <dd>
                                <dl>
                                    <!-- Date of the event. -->
                                    <dt>{{ notice.begins_at | date: '%a, %-d %b %Y' }}</dt>
                                        <dd>
                                            <dl>
                                                <!-- Time the event is to begin. -->
                                                <dt>{{ notice.begins_at | date: '%X %Z' }}</dt>
                                                <dd>
                                                    <!-- Optional subject line for the notice. -->
                                                    <!--- It's optional because we didn't used to support subjects. -->
                                                    {% unless notice.subject == blank %}
                                                        <!-- Has a subject, display it. -->
                                                        <h4>{{ notice.subject }}</h4>
                                                    {% endunless %}

                                                    <!-- Description / First-Comment -->
                                                    <p>{{ notice.updates.first.content | simple_format }}</p>

                                                    <!-- Expected Duration. -->
                                                    <p><strong>{{ 'status-page.future.duration' | t }} <time datetime="{{ notice.expected_duration }}s" class="duration">{{ notice.expected_duration | distance_of_time_in_words }}</time></strong></p>
                                                
                                                    <!-- Include the date this was posted. -->
                                                    <p class="notice-posted-at text-muted">{{ 'status-page.body.posted-at' | t }} {{ notice.created_at | date: '%a, %-d %b %Y %X %Z' }}</p>
                                                </dd>
                                            </dl>
                                        </dd>
                                </dl>
                            </dd>
                    {% endfor %}

                    <!-- Seperator between timeline sections. -->
                    <hr />
                {% endif %}

                <!-- Heading for the list. -->
                <lh>{{ 'status-page.body.heading' | t }}</lh>

                <!-- Loop over the collection of previous notices, order date descending. -->
                {% for notice in page.notices.past_recent %}
                    <dt class="event event-past event-{{ notice.type }} event-resolved" id="notice-{{ notice.id }}">#{{ notice.id }}</dt>
                    <dd>
                        <dl>
                            <!-- Optional subject line for the notice. -->
                            <!--- It's optional because we didn't used to support subjects. -->
                            {% unless notice.subject == blank %}
                                <!-- Has a subject, display it. -->
                                <h4 class="notice-subject">
                                    <!-- Subject and current state. -->
                                    <span class="notice-state">[{{ 'status-page.body.states.' | append: notice.state | t }}]</span> {{ notice.subject }}

                                    <!-- Determine the friedly duration. -->
                                    {% assign duration = notice.duration | distance_of_time_in_words %}
                                    <!-- Display a simple subheading. -->
                                    <small class="notice-type">{{ 'status-page.body.subheading.' | append: notice.type | t: duration: duration }}</small>
                                </h4>
                            {% endunless %}

                            <!-- Loop over the updates for this notice, which we want to group by date. -->
                            {% for update in notice.updates  %}
                                <!-- Snapshot the date by which we want to group updates. -->
                                {% capture grouped_date %}{{ update.created_at | date: '%a, %-d %b %Y' }}{% endcapture %}

                                <!-- See if this is the first iteration of the loop. -->
                                {% if forloop.first %}
                                    <!-- First itteration, as a date stamp to it. -->
                                    <dt>{{ grouped_date }}</dt>
                                    <dd>
                                        <dl>
                                {% else %}
                                    <!-- Not the first instance -->
                                    {% if grouped_date != last_grouped_date %}
                                        <!-- close of the previous nest. -->
                                            </dl>
                                        </dd>

                                        <!-- End start a new nested collection. -->
                                        <dt>{{ grouped_date }}</dt>
                                        <dd>
                                            <dl>
                                    {% endif %}
                                {% endif %}

                                <!-- Output the time for the given update. -->
                                <dt id="update-{{ update.id }}">{{ update.created_at | date: '%X %Z' }}</dt>
                                    <!-- Output the text content of the update. -->
                                    <dd>{{ update.content | simple_format }}</dd>

                                <!-- Check if this is the last instance of the loop. -->
                                {% if forloop.last %}
                                    <!-- Close off the nested list. -->
                                        </dl>
                                    </dd>
                                {% endif %}

                                <!-- Set a snapshot of the previously looped group. -->
                                {% capture last_grouped_date %}{{ grouped_date }}{% endcapture %}
                            {% endfor %}
                        </dl>
                    </dd>
                {% endfor %}

                <!-- End of Timeline. -->
                <dt class="event event-final" role="presentation">Past notices</dt>
                    <dd>{{ 'status-page.body.no-more-notices' | t: days: page.timeline_threshold_in_days }}</dd>
            </dl>
        </div>
    </main>

    <!-- Page Footer & Copyright. -->
    <footer>
        <div class="container container-xs">
            <!-- Support Links If Defined. -->
            {% if page.support.size > 0 or page.social.size > 0 %}
                <div class="footer-body" id="contact-support">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>{{ 'status-page.footer.need-support' | t }}</h4>

                            <!-- Main Status Page Nav. -->
                            <ul class="list-support-links">
                                <!-- Loop over the supplied support options. -->
                                {% for link in page.support %}
                                    <!-- Provide a list item for each. -->
                                    <li class="support-link-{{ link[0] }}">
                                        <!-- Conditionaly append mailto: and tel: for appropriate actions. -->
                                        <a href="{% case link[0] %}{% when 'email' %}mailto:{% when 'telephone' %}tel:{% endcase %}{{ link[1] }}">{{ link[1] }}</a>
                                    </li>
                                {% endfor %}

                                <!-- Loop over the supplied social accounts. -->
                                {% for link in page.social %}
                                    <!-- Output a link for each social channel. -->
                                    <li class="support-link-{{ link[0] }}">
                                        <!-- Dynamicly build a link to each type. -->
                                        <a href="https://{% case link[0] %}{% when 'twitter' %}twitter.com{% when 'facebook' %}www.facebook.com{% when 'google_plus' %}plus.google.com{% endcase %}/{{ link[1] }}" target="_blank">
                                            <!-- Use the locale switched string for each type too. -->
                                            <i class="fa fa-{{ link[0] }} fa-fw"></i>{{ 'social-links.' | append: link[0] | t }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- Accreditation link, we'd love it if you'd leave this in place, but no hard feelings if you don't. -->
            <div class="footer-footer">
                <bdo dir="ltr" class="copyright">{{ page.copyright }}</bdo>
            </div>
        </div>
    </footer>
</div>