<!DOCTYPE html>
<!-- Add RTL text direction for locales which require it. -->
<!-- List of RTL locales taken from https://en.wikipedia.org/wiki/Right-to-left -->
<html {% if 'ar,fa,sd,arc,glk,ug,bcc,he,ur,bqi,mzn,ur,ckb,pnb,yi,dv,ps' contains page.locale %}dir="rtl"{% endif %}>
    <head>
        <!-- Charset is very importsnt for locale support. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- Enable page refresh every 30 seconds. -->
        <meta http-equiv="refresh" content="30" />

        <!-- Favicons. -->
        <!-- App Details. -->
        <meta name="application-name" content="{{ page.name }}"/>
        <meta name="apple-mobile-web-app-title" content="{{ page.name }}" />

        <!-- Dynamicly set the title using the helper methoe. -->
        <title>{{ page.meta_title }}</title>

        <!-- Display a meta description. -->
        <meta name="description" value="{{ page.meta_description }}" />

        <!-- Control the indexability of the page using the meta tags. -->
        <!-- This is also controlled from /robots.txt but meta gives us slight more control. -->
        {% if page.visible_to_search %}
            <!-- Allow indexing and following of links. -->
            <meta name="robots" content="index, follow" />
        {% else %}
            <!-- Disallow indexing and following of links. -->
            <meta name="robots" content="noindex, nofollow" />
        {% endif %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{{ 'html5shiv-3-7-0.min.js' | asset_url }}"></script>
            <script src="{{ 'respond-1-3-0.min.js' | asset_url }}"></script>
        <![endif]-->

        <!-- Display favicons if one is assigned. -->
        {% if page.brand.favicon %}
            <!-- Standard Favicons. -->
            <link rel="icon" type="{{ page.brand.favicon.content_type }}" href="{{ page.brand.favicon.url }}"  />
        {% endif %}

        <!-- Include CSS Assets. -->
        <link rel="stylesheet" href="{{ 'status-page.css' | asset_url }}" />

        <!-- Injected Head Content. -->
        {{ page.content_for_head }}
    </head>
    <!-- We attach the current status to the body, for changing page styles based on current statue. -->
    <body class="current-status {% if page.apologies.current == empty %}status-ok{% else %}state-warning{% endif %} locale-{{ page.locale }}">
        <!-- Page Header & Navbar. -->
        <header>        
            <!-- Page Navbar. -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Nav Toggle With Support Links. -->
                        {% if page.support.size > 0 %}
                            <!-- Toggle Button For Mobile Nav. -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#status-page-navbar-collapse-1">
                                <span class="sr-only">{{ 'toggle-navigation' | t }}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        {% endif %}

                        <!-- Brand. -->
                        {% if page.brand.logo %}
                            <div class="navbar-logo">
                                <!-- Logo. -->
                                <img src="{{ page.brand.logo.url }}" alt="{{ 'logo-for' | t }} {{ page.name }}" />
                            </div>

                            <!-- Page Title. -->
                            <span class="navbar-brand hidden-xs">{{ 'title' | t }}</span>
                        {% else %}
                            <!-- Page Name. -->
                            <span class="navbar-brand">{{ page.name }}</span>
                        {% endif %}
                    </div>

                    <!-- Support Links If Defined. -->
                    {% if page.support.size > 0 %}
                        <!-- Collapsable Nav On Mobile. -->
                        <div class="collapse navbar-collapse" id="status-page-navbar-collapse-1">
                            <!-- Main Status Page Nav. -->
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Support Link. -->
                                {% if page.support.url %}
                                    <li><a href="{{ page.support.url }}" target="_blank">{{ page.support.url | remove: "https://" | remove: "http://" }}</a></li>
                                {% endif %}

                                <!-- Support Email Link. -->
                                {% if page.support.email %}
                                    <li><a href="mailto:{{ page.support.email }}">{{ page.support.email }}</a></li>
                                {% endif %}

                                <!-- Support Telephone Link. -->
                                {% if page.support.telephone %}
                                    <li><a href="tel:{{ page.support.telephone }}">{{ page.support.telephone }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>

            <div class="container container-md">
                <!-- Current Status Message. -->
                <section id="current-status">

                    <dl class="timeline timeline-header">
                        <!-- Loop over the collection of current apologies. -->
                        {% for apology in page.apologies.current %}
                            <dt class="event event-ongoing" id="apology-{{ apology.id }}">Notice #{{ apology.id }}</dt>
                                <dd>
                                    <dl>
                                        <dt>{{ 'ongoing' | t }} <i class="fa fa-bullhorn"></i></dt>
                                            <dd>
                                                <dl>
                                                    <!-- Loop over any updates we have for the apology -->
                                                    <!-- We reverse the order so the latest update displays first as the priority. -->
                                                    {% for update in apology.updates reversed %}
                                                        <!-- Output the date for the update. -->
                                                        <dt id="update-{{ update.id }}">
                                                            <!-- Datetime, augmented to 'time_ago_in_words' by moment.js -->
                                                            <time class="ago" datetime="{{ update.created_at }}">
                                                                {{ update.created_at | date: '%FT%TZ' }}
                                                            </time>
                                                        </dt>
                                                            <!-- Output the text content of the update. -->
                                                            <dd>{{ update.content }}</dd>
                                                    {% endfor %}
                                                </dl>
                                            </dd>
                                    </dl>
                                </dd>
                        {% else %}
                            <dt class="title">{{ 'current-status' | t }}</dt>
                                <dd>
                                    <!-- No current apologies found -->
                                    <!-- We have nothing to be sorry about, so all is well. -->
                                    <h2>{{ 'all-systems-are-go' | t }} <i class="fa fa-check-circle-o"></i></h2>

                                    <!-- Output social links if any are defined. -->
                                    {% if page.social.size > 0 %}
                                        <section class="stay-informed-nav" id="stay-informed-nav">
                                            <!-- Links to keep up to date. -->
                                            <!-- Usualy social links to Twitter etc. -->
                                            <ul class="nav nav-pills nav-stacked">
                                                <!-- Twitter Profile If Enabled. -->
                                                {% if page.social.twitter %}
                                                    <li>
                                                        <a href="https://twitter.com/{{ page.social.twitter }}" target="_blank">
                                                            <i class="fa fa-twitter fa-fw"></i> {{ 'twitter' | t }}
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                <!-- Facebook Profile If Enabled. -->
                                                {% if page.social.facebook %}
                                                    <li>
                                                        <a href="https://www.facebook.com/{{ page.social.facebook }}" target="_blank">
                                                           <i class="fa fa-facebook fa-fw"></i> {{ 'facebook' | t }}
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                <!-- Google Plus Profile If Enabled. -->
                                                {% if page.social.google_plus %}
                                                    <li>
                                                        <a href="https://plus.google.com/{{ page.social.google_plus }}/" target="_blank">
                                                           <i class="fa fa-google-plus fa-fw"></i> {{ 'google-plus' | t }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </section>
                                    {% endif %}
                                </dd>
                        {% endfor %}
                    </dl>

                </section>
            </div>
        </header>

        <!-- Main Timeline. -->
        <main>
            <div class="container container-md">
                <!-- Timeline of previous apologies. -->
                <dl class="timeline timeline-body">
                    <!-- Loop over the collection of previous apologies, order date descending. -->
                    {% for apology in page.apologies.recent %}
                        <dt class="event event-resolved" id="apology-{{ apology.id }}">#{{ apology.id }}</dt>
                        <dd>
                            <dl>
                                <!-- Loop over the updates for this apology, which we want to group by date. -->
                                {% for update in apology.updates  %}
                                    <!-- Snapshot the date by which we want to group updates. -->
                                    {% capture grouped_date %}{{ update.created_at | date: '%a, %-d %b %Y' }}{% endcapture %}

                                    <!-- See if this is the first iteration of the loop. -->
                                    {% if forloop.first %}
                                        <!-- First itteration, as a date stamp to it. -->
                                        <dt>{{ grouped_date }}</dt>
                                        <dd>
                                            <dl>
                                    {% else %}
                                        <!-- Not the first instance -->
                                        {% if grouped_date != last_grouped_date %}
                                            <!-- close of the previous nest. -->
                                                </dl>
                                            </dd>

                                            <!-- End start a new nested collection. -->
                                            <dt>{{ grouped_date }}</dt>
                                            <dd>
                                                <dl>
                                        {% endif %}
                                    {% endif %}

                                    <!-- Output the time for the given update. -->
                                    <dt id="update-{{ update.id }}">{{ update.created_at | date: '%X %Z' }}</dt>
                                        <!-- Output the text content of the update. -->
                                        <dd>{{ update.content }}</dd>

                                    <!-- Check if this is the last instance of the loop. -->
                                    {% if forloop.last %}
                                        <!-- Close off the nested list. -->
                                            </dl>
                                        </dd>
                                    {% endif %}

                                    <!-- Set a snapshot of the previously looped group. -->
                                    {% capture last_grouped_date %}{{ grouped_date }}{% endcapture %}
                                {% endfor %}
                            </dl>
                        </dd>
                    {% endfor %}

                    <!-- End of Timeline. -->
                    <dt class="event event-final" role="presentation">Past notices</dt>
                        <dd>{{ 'no-more-notices' | t }}</dd>
                </dl>
            </div> 
        </main>

        <!-- Page Footer & Copyright. -->
        <footer>
            <div class="container container-md">
                <!-- Accreditation link, we'd love it if you'd leave this in place, but no hard feelings if you don't. -->
                <bdo dir="ltr"><a href="http://www.sorryapp.com" target="_blank" title="{{ 'powered-by-title' | t }}" class="copyright">{{ 'powered-by' | t }} Sorry&#8482;</a></bdo>
            </div>
        </footer>

        <!-- Javascript Assets. -->
        <script src="{{ 'status-page.min.js' | asset_url }}"></script>

        <!-- Injected Head Content. -->
        {{ page.content_for_body }}
    </body>
</html>