<!DOCTYPE html>
<html lang="{{ page.locale }}">
    <head>
        <!-- Charset is very important for locale support. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Accreditation back to us. -->
        <meta name="generator" content="Sorry™ (https://www.sorryapp.com)" />

        <!-- Favicon. -->
        <!-- App Details. -->
        <meta name="application-name" content="{{ page.name }}"/>
        <meta name="apple-mobile-web-app-title" content="{{ page.name }}" />

        <!-- Page title differs based on template. -->
        {% if template.name == 'status-page' %}
            <!-- Status page. -->
            <!-- Dynamicly set the title using the helper method. -->
            <title>{{ page.meta_title }}</title>

            <!-- Display a meta description. -->
            <meta name="description" content="{{ page.meta_description }}" />
        {% else %}
            <!-- Error Page. -->
            <title>{{ template.name | append: '.header.title' | t }}</title>

            <!-- Display a meta description. -->
            <meta name="description" content="{{ template.name | append: '.body.subtitle' | t }}" />
        {% endif %}

        <!-- Control the indexability of the page using the meta tags. -->
        <!-- This is also controlled from /robots.txt but meta gives us slight more control. -->
        {% if page.visible_to_search %}
            <!-- Allow indexing and following of links. -->
            <meta name="robots" content="index, follow" />
        {% else %}
            <!-- Disallow indexing and following of links. -->
            <meta name="robots" content="noindex, nofollow" />
        {% endif %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{{ 'html5shiv-3-7-3.min.js' | asset_url }}"></script>
            <script src="{{ 'respond-1-4-2.min.js' | asset_url }}"></script>
        <![endif]-->

        <!-- Display favicon if one is assigned. -->
        {% if page.brand.favicon %}
            <!-- Standard Favicon. -->
            <link rel="icon" type="{{ page.brand.favicon.content_type }}" href="{{ page.brand.favicon.url }}"  />
        {% endif %}

        <!-- Include CSS Assets. -->
        <link rel="stylesheet" href="{{ 'status-page.css' | asset_url }}" />

        <!-- Injected Head Content. -->
        {{ page.content_for_head }}
    </head>
    <!-- We attach the current status to the body, for changing page styles based on current status. -->
    <body class="current-status {% if page.notices.present == empty %}status-ok{% else %}state-warning{% endif %} locale-{{ page.locale }}" data-locale="{{ page.locale }}" data-timezone="{{ page.timezone }}">
        <!-- Include the individual page template content. -->
        {{ content_for_layout }}

        <!-- JavaScript Assets. -->
        <script src="{{ 'status-page.min.js' | asset_url }}"></script>

        <!-- Injected Head Content. -->
        {{ page.content_for_body }}
    </body>
</html>
