<!-- Page has components, display a list of them. -->
<ul class="list-components">
    <!-- Loop over the components for the page. -->
    {% for component in components %}
        <!-- Output the components details. -->
        <li id="component-{{ component.id }}" class="list-component {% if component.children.size > 0  %}has-nested-components{% endif %}">
            <!-- See if component has children to display. -->
            {% if component.children.size > 0 %}
                <!-- Button to toggle the collapsed children. -->
                <!-- Default collapse state based on whether component is operational or not. -->
                <button type="button" data-target="#component_children_{{ component.id }}" class="{% if component.state == 'operational'%}collapsed{% endif %} list-component-toggle-collapse" role="button" data-toggle="collapse" aria-expanded="{{ component.state != 'operational' }}" aria-controls="component_children_{{ component.id }}" {% if component.state != 'operational'%}disabled{% endif %}>
                    <!-- Icon for the toggle, [+] vs. [-] depending on state. -->
                    <i class="fa fa-toggle" aria-hidden="true"></i>
                </button>
            {% endif %}

            <div class="list-component-state list-component-state-{{ component.state }} {% if component.notices.present.size > 0 %}list-component-progress-{{ component.notices.present.first.state }}{% endif %}">
                <span class="hidden-xs">{{ 'status-page.components.states.' | append: component.state | t }}</span> <i class="fa fa-dot-circle-o list-component-state-icon" aria-hidden="true"></i>
            </div>

            <!-- Toggle truncation on long descriptions etc. -->
            <a href="#list-component-details-{{ component.id }}" data-toggle="truncate" role="button" title="{{ 'status-page.components.long-description' | t }}" aria-controls="#list-component-details-{{ component.id }}">
                <!-- Basic icon, can be overridden with CSS. -->
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </a>

            <div class="list-component-body">
                <div class="list-component-details truncate truncated" id="list-component-details-{{ component.id }}">
                    <!-- Component name and status. -->
                    <strong class="list-component-name">{{ component.name }}</strong>

                    <!-- Optional description is one exists. -->
                    {% if component.description %}
                        <!-- Component has description, display it. -->
                        <p class="list-component-description">{{ component.description }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- See if component has children to display. -->
            {% if component.children.size > 0 %}
                <!-- Wrap in a Bootstrap Collapse. -->
                <!-- Only collapse if component is operational. -->
                <!-- TODO: Move away from a 'collapse' div and directly nest the UL here, with collapse class applied. -->
                <div class="{% if component.state == 'operational'%}collapse{% else %}collapse in{% endif %}" id="component_children_{{ component.id }}">
                    <!-- Recursive loop to render nested subcomponents. -->
                    {% include 'components/list' components: component.children %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>